// General Reset
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

// General Styles
body {
      font-family: sans-serif;
}

a {
      text-decoration: none;
}

// Pictures
img {
      max-width: 100%;
      height: auto;
}

// Typography
$body-font-family: 'Mulish', sans-serif;
$heading-font-weight: 700;
$text-font-weight: 400;

// Color Palette
$bratsee_dark_blue: #11206f;
$bratsee_light_blue: #3e7fe0;
$bratsee_green: rgb(137, 214, 36);
$bratsee_dark_gray: rgb(188, 187, 187);
$bratsee_light_gray: rgb(224, 223, 223);
$bratsee_white: rgb(255, 255, 255);

// Responsive Padding
$padding_cellphone: 80px 40px;
$padding_tablet: 120px 80px;
$padding_desktop: 120px 200px;