/* All devices = Here I reset values, define the font for the entire page and set images' width to the screen size width */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

img {
    max-width: 100%;
}

/* HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* This is for the general header style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgb(8, 30, 77);
}

.header__brand-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.header__tagline {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    justify-self: start;
}

/* Header Mobile = Here I define the Hamburguer menu */
.hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-menu .line {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
}

/* Header Mobile = Here I hide the navigation menu and style navigation menu */
.header-nav {
    display: none;
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
}

.header-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
}

/* Header Mobile = This is to show the menu when .is-active is added via JS */
.header-nav.is-active {
    display: block;
}

@media screen and (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .header__nav-list {
        display: flex;
    }

    .header__nav-item {
        margin-left: 20px;
    }
}

/* FIRST SECTION: BANNER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.banner {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/Juan_Escobar_Web_Development_Main_Banner.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.banner__content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    /* max-width: 1200px; */
}

.banner__content-heading {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.banner__content-subheading {
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
}

.banner__content-text {
    color: white;
    font-size: 0.9rem;
}

.banner__content a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 20px;
    width: 120px;
}

@media screen and (min-width: 768px) {
    .banner {
        align-items: center;
    }
}

/* SECOND SECTION: INTRODUCTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 60px;
    gap: 20px;
}

.intro__image {
    order: 2;
}

.intro__text {
    order: 1;
    margin-bottom: 30px;
}

.intro__heading {
    font-size: 1.6rem;
    font-weight: 700;
}

.intro__subheading {
    font-size: 1.2rem;
    font-weight: 500;
}

.intro__text {
    font-size: 1rem;
    font-weight: 250;
}

@media screen and (min-width: 768px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: center;
        align-items: center;
    }

    .intro__heading {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .intro__subheading {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: center;
        align-items: center;
    }

    .intro__image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .intro__heading {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .intro__subheading {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .intro__text {
        grid-column-start: 2;
        grid-column-end: 3;
    }

}

/* THIRD SECTION: QUOTE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.quote {
    margin: 50px;
    font-family: sans-serif;
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
}

.quote__author {
    font-weight: 700;
    margin-top: 20px;
}

/* FOURTH SECTION: ARTICLES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.articles-section {
    background-color: #bababb;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.articles-section__article {
    background-color: #ECEDEC;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Section four: Tablet */
@media screen and (min-width: 768px) {
    .articles-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .articles-section__heading {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .articles-section__subheading {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .articles-section__text {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/* Section four: Desktop */
@media screen and (min-width: 1024px) {
    .articles-section {
        padding: 100px;
    }

    .articles-section__article {
        margin: 50px;
    }