/* SECTION 1 = BANNER WITH H1 */
.banner {
      width: 100vw;
      height: 100vh;
      background-image: url(../images/Juan_Escobar_Web_Development_Main_Banner.jpg);
      background-size: cover;
      background-position: top;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;

      &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            z-index: 1;
      }

      .banner__content {
            position: relative;
            z-index: 2;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 20px;
      }

      .banner__content-heading {
            color: $bratsee_white;
      }

      .banner__content-subheading {
            color: $bratsee_white;
      }

      .banner__content-text {
            color: $bratsee_white;
      }

      // .banner__content a {
      //       display: inline-block;
      //       background-color: #007bff;
      //       color: white;
      //       padding: 10px 10px;
      //       text-decoration: none;
      //       margin-top: 20px;
      //       width: 120px; 
      // }
}

.banner_about {
      background-image: url(/images/juan_escobar_about.jpg);
}

@media screen and (min-width: $breakpoint_tablet) {
      .banner {
            align-items: center;
            justify-content: flex-start;
      }
}

/* SECTION 4 = ARTICLES/CARDS */
.articles-section {
      padding: $padding_cellphone;
      background-color: $bratsee_dark_gray;
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 20px;
      text-align: center;

      .articles-section__article {
            background-color: $bratsee_light_gray;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
      }

      @media screen and (min-width: $breakpoint_tablet) {
            padding: $padding_tablet;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .articles-section__heading {
                  grid-column-start: 1;
                  grid-column-end: 3;
            }

            .articles-section__subheading {
                  grid-column-start: 1;
                  grid-column-end: 3;
            }

            .articles-section__text {
                  grid-column-start: 1;
                  grid-column-end: 3;
            }
      }

      @media screen and (min-width: $breakpoint_desktop) {
            padding: $padding_desktop;
      }
}

/* FORM */
.contact-section {
      max-width: 767px;
      margin: 0 auto;
      padding: $padding_cellphone;
      background-color: $bratsee_light_gray;
      box-shadow: 0 3px 5px rgba(96, 96, 96, 0.8);

      .contact-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
      }

      .contact-form__input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
      }

      &:focus {
            border-color: #007bff;
            outline: none;
      }

      .contact-form__heading,
      .contact-form__subheading,
      .contact-form__description {
            text-align: center;
      }

      .contact-form__description {
            margin-bottom: 50px;
      }
}

@media screen and (min-width: $breakpoint_tablet) {
      .contact-section {
            max-width: 600px;
            margin: 60px auto;
            padding: $padding_tablet;
      }
}